PLAYWRIGHT_SERVICE_URL=wss://<some_url_from_azure_playwright_workspaces>
TEST_USERNAME=<user id to login in to custom web application>
TEST_PASSWORD=<user password>
BASE_URL=https://<your-environment-url>.azurecontainerapps.io
